.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.user span {
    font-family: var(--primary-font);
    font-size: 1.2rem;
    font-weight: 500;
    margin-right: 1rem;
}

.title {
    font-family: var(--primary-font);
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
}

.title span {
    color: #83917d;
}