.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem;
    gap: 6rem;
}

.title {
    font-family: var(--primary-font);
    font-size: 2rem;
    padding: 0.5rem;
}

.content {
    background-color: var(--secondary-color);
    padding: 0.5rem 1rem;
    border-radius: 10px;
}

.content a{
    font-family: var(--secondary-font);
    font-size: 1.2rem;
    text-decoration: none;
    margin: 1rem;
    padding: 1rem;
    color: var(--black-color);
    transition: color 0.3s ease, transform 0.2s ease;
}

.content a:hover {
    color: var(--white-color);
}
